flow.json
[
  {
    "id": "59953af.3ddfac4",
    "type": "tab",
    "label": "TwitterSentiment",
    "disabled": false,
    "info": ""
  },
  {
    "id": "dd2e4fa8.523e8",
    "type": "ui_tab",
    "z": "59953af.3ddfac4",
    "name": "Home",
    "icon": "dashboard"
  },
  {
    "id": "de95db26.452628",
    "type": "ui_group",
    "z": "59953af.3ddfac4",
    "name": "Sentiment Graph",
    "tab": "dd2e4fa8.523e8",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "d7ac264b.cb8ed8",
    "type": "ui_group",
    "z": "59953af.3ddfac4",
    "name": "Sentiment",
    "tab": "dd2e4fa8.523e8",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "4c723753.6554c8",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#0094CE",
          "value": "#0094CE",
          "edited": false
        },
        "page-titlebar-backgroundColor": {
          "value": "#0094CE",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#fafafa",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-textColor": {
          "value": "#1bbfff",
          "edited": false
        },
        "group-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "widget-textColor": {
          "value": "#111111",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#0094ce",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      },
      "angularTheme": {
        "primary": "indigo",
        "accents": "blue",
        "warn": "red",
        "background": "grey"
      }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "lockMenu": "false",
      "allowTempTheme": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "37f1d4ea.172a2c",
    "type": "debug",
    "z": "59953af.3ddfac4",
    "name": "Tweet with Sentiment",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 920,
    "y": 160,
    "wires": []
  },
  {
    "id": "bfb1a6e4.e11748",
    "type": "sentiment",
    "z": "59953af.3ddfac4",
    "name": "sentiment",
    "x": 520,
    "y": 220,
    "wires": [
      [
        "9a636824.ac58d8",
        "d6a90b96.ef78d8"
      ]
    ]
  },
  {
    "id": "9a636824.ac58d8",
    "type": "function",
    "z": "59953af.3ddfac4",
    "name": "add sentiment",
    "func": "msg.payload+= \" Sentiment : \" + msg.sentiment.score;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 700,
    "y": 200,
    "wires": [
      [
        "3c6a4731.fb1d78",
        "37f1d4ea.172a2c"
      ]
    ]
  },
  {
    "id": "d6a90b96.ef78d8",
    "type": "function",
    "z": "59953af.3ddfac4",
    "name": "sentiment score",
    "func": "msg.payload = msg.sentiment.score;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 700,
    "y": 240,
    "wires": [
      [
        "7258dd0f.dfb5d4"
      ]
    ]
  },
  {
    "id": "db33d064.069f8",
    "type": "Twitter Stream",
    "z": "59953af.3ddfac4",
    "connection": "",
    "follow": "",
    "topics": "",
    "tweetLimit": "0",
    "onlyVerified": false,
    "topicRetweets": false,
    "loadMedia": false,
    "topicLanguage": "en",
    "debug": false,
    "name": "Tweets",
    "x": 70,
    "y": 40,
    "wires": [
      [
        "616c3a0c.92d134",
        "bfa5c6b2.389f28"
      ]
    ]
  },
  {
    "id": "bfa5c6b2.389f28",
    "type": "debug",
    "z": "59953af.3ddfac4",
    "name": "Message from Twitter",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 260,
    "y": 40,
    "wires": []
  },
  {
    "id": "616c3a0c.92d134",
    "type": "deduplicate",
    "z": "59953af.3ddfac4",
    "name": "",
    "keyproperty": "id",
    "expiry": 5,
    "x": 190,
    "y": 100,
    "wires": [
      [
        "2ce819e5.162c26"
      ],
      []
    ]
  },
  {
    "id": "2ce819e5.162c26",
    "type": "function",
    "z": "59953af.3ddfac4",
    "name": "Set to extended Tweet",
    "func": "if (msg.payload.truncated === true) {\n    msg.payload = msg.payload.extended_tweet.full_text;\n} else {\n    msg.payload = msg.payload.text;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 360,
    "y": 160,
    "wires": [
      [
        "bfb1a6e4.e11748"
      ]
    ]
  },
  {
    "id": "3c6a4731.fb1d78",
    "type": "ui_text",
    "z": "59953af.3ddfac4",
    "group": "d7ac264b.cb8ed8",
    "order": 2,
    "width": "6",
    "height": "5",
    "name": "Most Recent Tweet",
    "label": "Most Recent Tweet",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 910,
    "y": 200,
    "wires": []
  },
  {
    "id": "7258dd0f.dfb5d4",
    "type": "ui_gauge",
    "z": "59953af.3ddfac4",
    "name": "Sentiment in most recent Tweet",
    "group": "de95db26.452628",
    "order": 1,
    "width": "6",
    "height": "5",
    "gtype": "gage",
    "title": "Sentiment of most recent Tweet",
    "label": "Sentiment Score",
    "format": "{{value}}",
    "min": "-10",
    "max": 10,
    "colors": [
      "#ca3838",
      "#0c73da",
      "#00b500"
    ],
    "seg1": "-1",
    "seg2": "1",
    "x": 950,
    "y": 240,
    "wires": []
  }
]